<form [formGroup]="form">
  <div class="main-frame">
    <label class="description">Please enter your password:</label>
    <div class="input-block">
      <input
        class="input-password"
        [type]="typeOfInput"
        autofocus
        formControlName="password"
        title="Password must include letters, digits and symbols"
      >
      <img
        class="eye-icon"
        [src]="'assets/img/eye-' + eyeIcon + '.svg'"
        (click)="showHidePassword()"
        [class.invisible]="form.value.password.length === 0"
        title="Show/Hide password"
      >
      <span
        class="clear-button"
        (click)="clearPassword()"
        [class.invisible]="form.value.password.length === 0"
        title="Clear the password"
      >
        x
      </span>
    </div>

    <small>Password difficult: {{ passwordStrength }}</small>

    <div class="sections-frame">
      <div class="color-section first" [class]="passwordStrength"></div>
      <div class="color-section second" [class]="passwordStrength"></div>
      <div class="color-section third" [class]="passwordStrength"></div>
    </div>
  </div>
</form>
